<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53218.83744210694!2d71.03113353583258!3d33.52277457841488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d85a5c685aa471%3A0x385ebb5ce1dea4fe!2sHangu%2C%20Khyber%20Pakhtunkhwa%2C%20Pakistan!5e0!3m2!1sen!2s!4v1659441795440!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>